h1{
    background-color: #44243e;
    color: #e277cd;
    
    font-family: "Poppins",sans-serif;
}

.bd-color-3{
    border: #44243e 3px solid;
}
.back-color{
    background-color: #e8c4e1;
}