h1{
    
    font-family: "Poppins",sans-serif;
}
.bd-color-3{
    border: #8a467c 2px solid;
    background-color: #e277cd;
}
.bd-color-3:hover{
    background-color: #e277cd;
    
}
.back-color{
    background-color: #7c4272d7;
}