.font{
    font-family: 'Kalam', cursive;
}
.bd-color-3{
    border: #8a467c 2px solid;
    background-color: #e277cd;
}
.bd-color-3:hover{
    background-color: #e277cd;
}
.back-color{
    background-color: #7c4272d7;
}
.back-texto{
    color: rgb(34, 3, 41);
    background-color: rgb(226, 128, 226, 0.7) ;
    border-left: 15px solid palevioletred;
    border-radius:  0px 20px 20px 0px;
    padding: 10px;
}
.botonesAnimados {
    padding: 8px 16px;
    margin-left: 3%;
    background-color: #e277cd;
    color: white;
    border-radius: 10px;
    font-size: 16px;
    transition: all 0.2s;
}
  
.botonesAnimados:hover {
    transform: scale(0.5);
    box-shadow: 0 0 10px #e277cd;
}
  
.botonesAnimados:active {
    transform: scale(0.9);
}

/* carta de productos */
.card-img-overlay{
    background-color: #7c4272d7;
    display: none;
}

/* imagenes de productos */
.ajustar{
    object-fit: cover;
}
.ajustar:hover {
    animation: anima 2s ease-in;
  }
  
  @keyframes anima {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
      opacity: 0.5;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }


/* cookies */
.cookie-box {
    position: fixed;
    bottom: -300px;
    left: 5px;
    right: 50%;
    /* background-color: #f1f1f1; */
    padding: 20px;
    /* border-top: 1px solid #ccc; */
    transition: bottom 0.5s;
}
  
.cookie-box.show {
    bottom: 0;
}

.logo{
    padding: 5%;
}